body {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
}
.navColor {
  background-color: rgb(72, 201, 176) !important;
}
.container1,
.container2 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
}
.container2 {
  background-color: black;
background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z" fill="rgb(72 201 176)"></path></svg>');
background-repeat: no-repeat;
}
.saludo {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  padding: 30px;
}

.aboutMe {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.2rem;
  color: #fff;
}
.img1 {
  border-radius: 50%;
}
.contact-list {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  background-color: #585b59;
  color: rgb(72, 201, 176) !important;
}
.contact-list h4 {
  font-size: 25px;
}
.contact-list-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-right: 180px;
}
.contact-list-icons i:hover {
  color: rgb(72, 201, 176) !important;
  transform: translateY(-10px);
}
.contact-list-icons a{
  text-decoration: none !important;
  color: black;
}
.proyectos {
  padding: 160px 0px;
}
.title {
  padding-bottom: 25px;
}
.etiqueta {
  font-size: 20px !important;
}
.etiqueta:hover {
  transform: translateY(-10px);
  box-shadow:  2px 2px 2px #879487 ;
}

.titles-container2 {
  color: rgb(72, 201, 176);
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.titles-container3 {
  font-family: "Space Mono", monospace !important;
  padding: 20px 0px 20px 0px;
}
.education-list{
  background-color: black;
  color:  rgb(72, 201, 176);
  font-family: "Space Mono", monospace !important;
  padding: 160px 0px;

}
.education-list li { 
  list-style:none;
  padding: 10px 0px 10px 0px;
}
.education-list h3{
    color: #dab034;
}
.download a{
  text-decoration:  none;
  color: white;
}
.download{
  display: inline-flex;
  justify-content: space-around;
  padding: 25px 0px 25px 0px;
}
#downloadTitle{
  color: aliceblue !important;
}
.card-1 {
  margin: 10px;
}
.card-1:hover{
  transform: translateY(-10px);
  box-shadow:  10px 5px 5px  #879487;
 
}
.etiquetaCard{
  font-size: 18px;
}



@media screen and (max-width:991px) {
  .container1{
    text-align: center;
    justify-content: center;
  }
  .contact-list-icons{
    justify-content: center;
    padding: 10px;
  }
  .contact-list-icons i {
    margin-right: 20px;
  }
}