body {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
}
.navColor {
  background-color: rgb(72, 201, 176) !important;
}
.container1,
.container2 {
  padding-top: 10rem;
  padding-bottom: 10rem;

  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
}
.container2 {
  background-color: black;
}
.saludo {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  padding: 30px;
}

.aboutMe {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.2rem;
  color: rgb(59, 121, 108);
}
.img1 {
  border-radius: 50%;
}
.contact-list {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  background-color: #585b59;
  color: rgb(72, 201, 176) !important;
}
.contact-list h4 {
  font-size: 25px;
}
.contact-list-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
.contact-list-icons i:hover {
  color: rgb(72, 201, 176) !important;
  transform: translateY(-10px);
}
.proyectos {
  padding: 15px;
}
.title {
  padding-bottom: 25px;
}
.etiqueta {
  font-size: 20px !important;
}
.titles-container2 {
  color: rgb(72, 201, 176);
}
